*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    min-height: 100%;

}
picture{
    object-position: top center;
}



body{
    min-height: 1000px;
} 

.mainText{
    font-weight: 100;
    font-size: 1.4rem;
    color: black;
}

.mainLayout{
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &--last{
        padding: 100px 100px 0 100px
    }

    &--light{
        background: $mainLight;
    }

    &--dark{
        background: $mainDark;
    }
}