*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}


.font{
    &__logo{
        font-family: 'Nothing You Could Do', cursive;
    }

    &__title{
        font-family: 'Gotu', sans-serif;
    }
}

.section-title-style{
    font-size: 4rem;
    color: red;
    padding-bottom: 2rem;
    filter: drop-shadow(0 6px 4px black);

    &--small{
        font-size: 3.5rem;

        @mixin atSmall{
            font-size: 4rem
        }
    }
    
    @mixin atSmall{
        letter-spacing: 3px;
        padding-top: 2rem;
    }
}

a{
    text-decoration: none;
}

.link{
    &--copyright{
        color: white
    }
}


.images{
    img{
      height: 5.5rem;
      width: auto;
      margin: 1rem;
      filter: drop-shadow(0 6px 4px black) grayscale(40%); 
  
      @mixin atSmall{
        height: 7rem;
      }
  
    }
  }

  body{

        background-image: linear-gradient(black, #210202);
    }