*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}


.font{
    &__logo{
        font-family: 'Nothing You Could Do', cursive;
    }

    &__title{
        font-family: 'Gotu', sans-serif;
    }
}

.section-title-style{
    font-size: 4rem;
    color: red;
    padding-bottom: 2rem;
    filter: drop-shadow(0 6px 4px black)
}

a{

    text-decoration: none;
}

.link{
    &--copyright{
        color: white
    }
}


.flip-card-container {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin: 20px;
  }
  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .8s;
    transform-style: preserve-3d;
    
  
  }
  .flip-card-container:hover .flip-card {
    transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
  }
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    }
  .flip-card-front {
    background-color: #333;
    color: #fff;
  }
  .flip-card-back {
    background-color: #517fa4;
    color: #fff;
    transform: rotateY(180deg);

  }
  
  .flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(80%)
  }
  .flip-card-back p {
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  .flip-card-back p span {
    display: block;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 1.25rem;
  }
  
          .main{
              display: flex;
              justify-content: center;
              flex-direction: row;
              flex-wrap: wrap;
          }

