.button:hover{
    color: black;
    background-color: white;
}

.button{
    border: 1.5px solid white;
    border-radius: 0.3rem;
    padding: 0.5rem .7rem;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Gotu', sans-serif;


    @mixin atSmall {
        font-size: 1rem;
        padding: 0.2rem .7rem;
        padding-top: 0.3rem;

    }
}




