.contact{

    &__button{
        display: block;
        width: 15rem;
        margin: 2rem auto;
    }

    &__text{
        font-size: 1.3rem;
        font-weight: 900;
        margin-bottom: 1.875rem;

            
        @mixin atSmall {
            font-size: 2.5rem;

        }
    }
}