.contact{
    background: $mainLight;
    padding:100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        position: relative;
        text-align: center;
        width:100%;
    }
}