.site-header{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    @mixin atSmall{
        padding: 0 100px
    }

    &__dark-background{
        background-color: black;
    }

    &__logo{
        color: white;
        font-size: 30px;
        text-decoration: none;
        z-index: 15;
    }

    ul{
        margin:0;
        padding:0;
        padding-top: 50px;
        position:absolute;
        top: 70px;
        left:0;
        width: 100%;
        height: calc(100vh - 80px);
        text-align: center;
        overflow: auto;
        transition: 0.5s;
        background: rgba(0, 0, 0, 0.95);
        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-150%);
        
        @mixin atSmall{
            padding-top: 0;
            justify-content: center;
            height: calc(70vh - 80px);
        }

        li{
            position: relative;
            list-style: none;
            margin: 5px 0;
            font-size: 2rem;

            a:hover{
                background: rgba(153, 47, 56, 0.3);
                border-radius: 8px;    
            }
            a{
                position: relative;
                padding: 5px 10px;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                color: white;
                font-weight: 100;
                font-family: 'Gotu', sans-serif;
            }
        }
    }

    &__toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    &__toggle:before{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: white;
        z-index: 12;
        box-shadow: 0 10px 0 white;
        transition: 0.5s;
        border-radius: 100%;

    }

    &__toggle:after{
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: white;
        z-index: 12;
        transition: 0.5s;
        border-radius: 100%;
    }
}

.site-header.active{
    background-color: black;
    .site-header__toggle:before{
        top:14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 white

    }

    .site-header__toggle:after{
        bottom:14px;
        transform: rotate(-45deg);

    }

    ul{
        transform: translateY(0);
        opacity:1;
    }
}