.template-style{
    min-height: 100vh;
    padding: 80px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;

   
    
    &--last{
        min-height: 80vh;
        padding-bottom: 0;    
    }

    &--portfolio{
        @mixin atSmall{
            padding: 100px
        }
    }

    &--favorite-technology{
        padding: 80px 10px 0 10px;

        @mixin atSmall{
            padding: 80px 40px 0 40px;
        }

    }

    &--about{
        padding: 0 10px;
        
        @mixin atSmall{
            padding: 10px 90px
        }
    }
}



.images{
    img{
  
      height: 5.5rem;
      width: auto;
      margin: 1rem;
      filter: drop-shadow(0 6px 4px black) grayscale(40%); 
  
      @mixin atSmall{
        height: 9rem;
      }
  
    }
  }

  body{    background-color: #0f0000;
    background-image: linear-gradient(#210202,black, #210202);}