.template-style{
    min-height: 100vh;
    padding: 80px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: black;
   
    
    &--last{
        min-height: 80vh;
        padding-bottom: 0;    
    }

    &--portfolio{
        @mixin atSmall{
            padding: 100px
        }
    }

    &--about{
        padding: 0 10px;
        
        @mixin atSmall{
            padding: 10px 40px
        }
    }
}


